@charset "ISO-8859-1";

body{background:url("blue.jpg");}

.text{
color:white;
font:100px;
margin-left:50px;
}

.submit{
	padding: 10px;
	background-color:#0bb8FF;
	  border-color: transparent;
	  color: #fff;
	  font-size: 20px;
	  letter-spacing: 0.5px;
	  height: 40px;
	  margin-top: 20px;	
	  transition: 0.4s ease;
}


.submit{
	padding-top:5px;
	background-color:transparent ;
	  color: #fff;
	  font-size: 20px;
	  letter-spacing: 0.5px;
	  height: 50px;
	  margin-top: 20px;
	  margin-left:30px;
	  margin-right:30px;
	  transition: 0.4s ease;
	  color: white;
	  border-color: #00ffcd;
	  border-radius: 8px;
	  
}



  .submit:hover{
	  background-color: #00747c;
	  cursor: pointer;  
	  
  }
  
  h1{
  color: white;
  margin-left:40px;
  }
  
  
  .box{
  left: 50%;
  margin-left: 25%;
  
  }
  
  
  
  
  
  
  